body {
  background: lightgray;
}

.main-container {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24)
}

.form-control:focus {
  box-shadow: none;
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  padding-left: 3px;
  font-size: 14px
}

.profile-button {
  background: lightgray;
  float: right;
  color: #414141;
  font-weight: bold;
  box-shadow: none;
  border: none;
  margin-right: 10px;
}

.profile-button:hover {
  color: #414141;
  background: lightgray
}

.profile-button:focus {
  background: lightgray;
  color: #414141;
  box-shadow: none
}

.profile-button:active {
  background: #ddd;
  color: #414141;
  box-shadow: none
}

.delete-button {
  background: white;
  color: #414141;
  box-shadow: none;
  border: none;
  text-decoration: underline;
}

.delete-button:hover {
  color: #414141;
  background: white;
  box-shadow: none;
  border: none;
}

.delete-button:focus {
  background: white;
  color: #414141;
  box-shadow: none
}

.delete-button:active {
  background: white;
  color: #414141;
  box-shadow: none;
  border: none;
}

.input_file-button {
  width: 100%;
  max-width: 290px;
  height: 60px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto;
  text-decoration: underline;
}

.input_file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}