body {
  font-family: "Segoe UI";
  background-color: lightgray;
  min-width: 500px;
  width: 60%;
  margin: auto;
}

footer {
  padding-left: 10px;
  margin-left: 10px;
  margin-top: 20px;
  border-radius: 4px;
  height: 27px;
  text-align: right;
  line-height: 25px;
}

.employee {
  margin-left: 10px;
  background: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  padding-left: 10px;
  height: 120px;
}

.employee > h2 {
  padding-top: 20px;
  font-size: 110%;
  line-height: 15px;
}

.employee >  p {
  padding-top: 2px;
  line-height: 4px;
}

.employee-img {
  float: left;
  padding-top: 5px;
  margin-right: 20px;
  height: 100px;
  width: 90px
}

.section1-left-header {
  width: 70%;
  float: left;
  padding-top: 10px;
  padding-left: 15px;
  line-height: 0px;
  letter-spacing: 1px;
  font-size: 90%;

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.section-right-btn {
  float: right;
}

.searchline {
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('./searchicon.png');
  background-position: 8px 8px; 
  background-repeat: no-repeat;
  padding: 6px 10px 6px 40px;
}

* {
  -webkit-transition-property: all;
  -webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
  -moz-transition-property: all;
}

.btn{
  color:#DDD;
  background:rgba(100, 100, 100, 0.6);
  padding:7px 20px;
  font-size:14px;
  font-weight: bold;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
  border-radius: 4px;
}

.btn:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  background:#fff;
  padding:7px 20px;
  color:#1b1b1b;
  border-radius: 4px;
  font-weight: bold;
}
